@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

html {
  overflow-y: scroll;
  color-scheme: light;
  background-color: white;
  font-family: "Atkinson", sans-serif;
  
}

html.dark {
  color-scheme: dark;
  background-color: black;
}

html,
body {
  @apply h-full w-full antialiased;
  @apply bg-white dark:bg-black;
  @apply text-black/75 dark:text-white/75;
}

body {
  @apply relative flex flex-col;


}

main {
  @apply flex flex-col flex-1 bg-white dark:bg-black;
}

header {
  @apply border-b;
  @apply transition-all duration-300 ease-in-out;
}

header:not(.scrolled) {
  @apply bg-transparent border-transparent;
}

header.scrolled {
  @apply bg-white/75 dark:bg-black/50;
  @apply border-black/10 dark:border-white/25;
  @apply backdrop-blur-sm saturate-200;
}

article {
  @apply prose dark:prose-invert max-w-full pb-12;
}

.page-heading {
  @apply font-semibold text-black dark:text-white;
}

.blend {
  @apply transition-all duration-300 ease-in-out;
}

/** Light theme particles on home page */
@keyframes animateParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    /* Move the background image 500px to the right */
    background-position: 500px 0;
  }
}

.animated-background {
  /* Set the background image */
  background-image: url('../../public/js-logo.png');
  /* Set the background size to cover the entire body */
  background-size: cover;
  /* Set the animation */
  animation: backgroundAnimation 5s infinite linear;
}


/** styles for public /animation.js */
.animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}



article img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}

    @keyframes rainAnimation {
      0% {
        opacity: 0;
        transform: translateY(100vh) translateX(calc(100vw * var(--randX1)));
        /* Empezar desde la parte inferior */
      }
  
      50% {
        opacity: 1;
      }
  
      100% {
        opacity: 0.2;
        transform: translateY(-100vh) translateX(calc(100vw * var(--randX2)));
        /* Llegar a la parte superior */
      }
    }
  
    .raindrop {
      --randX1: calc(0.1 + 0.8 * random());
      /* Genera un valor aleatorio entre 0.1 y 0.9 */
      --randX2: calc(0.1 + 0.8 * random());
      /* Genera un valor aleatorio entre 0.1 y 0.9 */
      position: absolute;
      width: 100px;
      /* Ajusta el tamaño de las imágenes según sea necesario */
      height: 100px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: rainAnimation 40s linear infinite;
      /* Ajusta la duración de la animación según sea necesario */
    }